.venv/
__pycache__/
*.pyc
.env

data/raw/*
data/processed/*
data/chunks/*
data/chroma/*
data/app/*.json

!data/raw/.gitkeep
!data/processed/.gitkeep
!data/chunks/.gitkeep
!data/chroma/.gitkeep
!data/app/.gitkeep

uploads/